html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.videos {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 200px;
  min-height: 100px;
  background: grey;
  video {
    width: 100%;
    background: black;
    aspect-ratio: 16 / 9;
  }
}